page-change-location {
    .toolbar-background {
		background: #f68f54;
	}
	.toolbar-title{
		color: white;
		font-weight: lighter;
	}
	ion-row{
		justify-content: center;
		h1{
			font-size: 20px;
		}
		p{
			color: gray;
		}
		button{
			background-color: #ed640a !important;
			box-shadow: none !important;
		}
		.searchbar-input{
			box-shadow: none !important;
			border: 1px solid #ed640a !important;
		}
	}
}
