page-map {
    .toolbar-background {
		background: #ed640a;
        color: #fff !important;
	}
	.toolbar-title{
		color: white;
		font-weight: lighter;
		text-align: center;
    }
	.back-button-icon{color: white;}
	.back-button-text-ios{display: none;}

	ion-footer{
		background: #ed640a;
		text-align: center;
	}
	.footer-md .button-clear-md{height: 4rem}
	.footer-ios .button-ios{height: 4rem}


/*buttons*/
.full-custom-btn{
    font-size: 1.7rem;
    text-transform: uppercase;
    color: white;
	text-align: center;
	padding: 20px;
}


}
