page-map {
    .toolbar-background {
		background: #f68f54;
        color: #fff !important;
	}
	.toolbar-title{
		color: white;
		font-weight: lighter;
		text-align: center;
    }
    .back-button-icon{color: white;}


}
