
<ion-header>

  <ion-navbar>
	<ion-title>{{operator_name}} </ion-title>
	<ion-buttons item-end> 
			<button ion-button icon-only class="back-btn" click="back()"><ion-icon name="close"></ion-icon></button>		
	  </ion-buttons>
  </ion-navbar>
 
</ion-header>

<ion-content padding >
		<ion-card class="product-image" [ngStyle]="{'background': 'url(https://findlocalrentals.net/reservations/shop_image/product/' + image)'}">
				<!-- <img src="assets/imgs/placeholder.png"> -->
			</ion-card>
	<ion-row>
		<ion-col col-10>
			<h3 class="direction">{{operator_name}} ({{miles}})</h3>
		</ion-col>
		<ion-col col-2 class="right">
			<img src="assets/imgs/arrow-rigth.png" width="20" height="20">
		</ion-col>
		<ion-col col-10>
			
			<div class="rating-box">
				<rating [(ngModel)]="stars" 
			  readOnly="true" 
			  max="5" 
			  emptyStarIconName="star-outline" 
			  halfStarIconName="star-half" 
			  starIconName="star" 
			  nullable="false" 
			  rating
			  value="stars"></rating>
			  <span class="count" *ngIf="count_stars != null">({{count_stars}}) </span>
			  </div>
		</ion-col>
		<ion-col col-2 class="right" *ngIf="enable">
			<button *ngIf="!liked" (click)="addToFav()" class="transparent"><ion-icon name="heart-outline" md="md-heart-outline" class="gray-heart"></ion-icon></button>
			<button *ngIf="liked"  class="transparent"><ion-icon name="ios-heart"></ion-icon></button>

		</ion-col>
		<div *ngIf="enableInquiry">
			<ion-col col-12>
				<div class="separate-line"></div>
			</ion-col>
			<ion-col col-12>
					<h3 class="dark">{{productName}}</h3>
			</ion-col>
			<ion-col col-12>
				<div class="separate-line"></div>
			</ion-col>
			<ion-col col-12 class="center">
				<img src="assets/imgs/Canoe.png" alt="" style="width: 300px;">
				<br>
				<p>Availability cannot be determinated at this time. Not to worry! Help is
					one step away. Send a request for immediate assistance.
				</p>
			</ion-col>


		</div>

		<!-- Pick Start Date -->
		<div *ngIf="enableDates">
		<ion-col col-12>
			<div class="separate-line"></div>
		</ion-col>
		

		<ion-row>
		<h3 class="light">Choose a plan</h3> 

				<ion-item>
						<ion-label>Prices Availables</ion-label>
						<ion-select >
						  <ion-option  *ngFor="let price of prices" value="{{price.price}}" (ionSelect)="choosePrice(price.price, price.price_plan)">${{price.price}} - {{price.price_plan}}</ion-option>
						</ion-select>
					  </ion-item>
						
		</ion-row>
		<ion-row *ngIf="enablePicker">
				<ion-col col-8>
						<h3 class="dark">{{productName}}</h3>
					</ion-col>
					<ion-col col-4 class="center">
							<h3 class="dark"># Reserve</h3>
						</ion-col>
					
		</ion-row>
		<ion-row *ngIf="enablePicker">
				<ion-col col-8>
						<h3 class="light">{{pricePlan}}<br>$ {{price}}</h3>
					</ion-col>
					<ion-col col-4 class="center">
						 <button class="transparent" (click)="timesCount()"><ion-icon name="add"></ion-icon></button><span class="square">{{reserveCount}}</span><button (click)="dicreaseCount()" class="transparent"><ion-icon name="remove"></ion-icon></button>
					</ion-col>
		</ion-row>
		
		<div *ngIf="enablePicker">
		<ion-col col-12>
			<div class="separate-line"></div>
		</ion-col>
		<ion-col col-12>
			<h3 class="dark-light">Pick activity {{rowText}} date</h3>
		</ion-col>
		<ion-col col-12>
			<!-- <h3 class="dark-light">Pick another {{rowText}} date</h3> -->
			<ion-item>
				<ion-label>Pick a date</ion-label>
				<ion-datetime displayFormat="MMM DD YYYY" pickerFormat="MMM DD YYYY"  [(ngModel)]="timeStarts"></ion-datetime>
				<button (click)="updateDate()" item-end ion-button clear>Update</button>

			</ion-item>
		</ion-col>

		 <ion-row (click)="onButtonGroupClick($event)" class="date-row" >

			<!-- <button col-4 class="orange-border orange-bg" *ngIf="i == 0" >
       			{{date.day_name}} <br> {{date.date}}
			  </button> -->
			  
			  <button col-4 [class]="firstColor" [disabled]="disableFirst" (click)="firstTab(dates[0]?.date)">
					{{dates[0]?.day_name}} <br> {{dates[0]?.date | amUtc | amDateFormat: 'MM-DD-YYYY' }}
			   </button>
			   <button col-4 (click)="secondTab(dates[1]?.date)"  [class]="secondColor">
					{{dates[1]?.day_name}} <br> {{dates[1]?.date | amUtc | amDateFormat: 'MM-DD-YYYY'}}
			   </button>
			   <button col-4 class="orange-border"  (click)="thirdTab(dates[2]?.date)">
					{{dates[2]?.day_name}} <br> {{dates[2]?.date | amUtc | amDateFormat: 'MM-DD-YYYY' }}
			   </button>

			   <!-- <button col-4 class="orange-border" *ngIf="i == 2" >
					{{date.day_name}} <br> {{date.date}}
			   </button> -->
			
			
		</ion-row> 
		<ion-col col-12>
			<h3 class="dark-light">Pick activity {{rowText}} time</h3>
		</ion-col>
		<ion-row (click)="onButtonGroupClick($event)" class="activity-row" *ngIf="enableFirst">
			<button (click)="setStartHour(hour.hour)" class="orange-border time" *ngFor="let hour of dates[0]?.hours" >
				{{tConvert(hour.hour)}}
			</button>
		
    </ion-row>
    <ion-row (click)="onButtonGroupClick($event)" class="activity-row" *ngIf="enableSecond">
			<button (click)="setStartHour(hour.hour)" class="orange-border time" *ngFor="let hour of dates[1]?.hours">
					{{tConvert(hour.hour)}}
				</button>
		
    </ion-row>
    <ion-row (click)="onButtonGroupClick($event)" class="activity-row" *ngIf="enableThird">
			<button (click)="setStartHour(hour.hour)" class="orange-border time" *ngFor="let hour of dates[2]?.hours">
					{{tConvert(hour.hour)}}
				</button>
		
		</ion-row>
	</div>
	</div>



	<!-- Pick End Date -->

	<div *ngIf="enableEndDate">
		<ion-col col-12>
			<div class="separate-line"></div>
		</ion-col>
		<ion-row>
				<ion-col col-8>
						<h3 class="dark">{{productName}}</h3>
					</ion-col>
					<ion-col col-4 class="center">
						<h3 class="dark"># Reserve</h3>
					</ion-col>
		</ion-row>

		<ion-row>
				<ion-col col-8>
						<h3 class="light">{{pricePlan}}<br>$ {{price}}</h3>
					</ion-col>
					<ion-col col-4 class="center">
						 <button class="transparent" (click)="timesCount()"><ion-icon name="add"></ion-icon></button><span class="square">{{reserveCount}}</span><button (click)="dicreaseCount()" class="transparent"><ion-icon name="remove"></ion-icon></button>
					</ion-col>
		</ion-row>
		
		
		<ion-col col-12>
			<div class="separate-line"></div>
		</ion-col>
		<ion-col col-12>
			<h3 class="dark-light">Pick activity {{rowText}} date</h3>
		</ion-col>
		<ion-col col-12>
			<!-- <h3 class="dark-light">Pick another {{rowText}} date</h3> -->
			<ion-item>
				<ion-label>Pick a date</ion-label>
				<ion-datetime displayFormat="MMM DD YYYY" pickerFormat="MMM DD YYYY"  [(ngModel)]="timeEnd"></ion-datetime>
				<button (click)="updateEndDate()" item-end ion-button clear>Update</button>

			</ion-item>
		</ion-col>

		 <ion-row (click)="onButtonGroupClick($event)" class="date-row" >

			<!-- <button col-4 class="orange-border orange-bg" *ngIf="i == 0" >
       			{{date.day_name}} <br> {{date.date}}
			  </button> -->
			  
			  <button col-4 [class]="firstColor" [disabled]="disableFirst">
					{{datesEnd[0]?.day_name}} <br> {{datesEnd[0]?.date | amUtc | amDateFormat: 'MM-DD-YYYY' }}
			   </button>
			   <button col-4 (click)="secondEndTab(datesEnd[1]?.date)"  [class]="secondColor">
					{{datesEnd[1]?.day_name}} <br> {{datesEnd[1]?.date | amUtc | amDateFormat: 'MM-DD-YYYY'}}
			   </button>
			   <button col-4 class="orange-border"  (click)="thirdEndTab(datesEnd[2]?.date)">
					{{datesEnd[2]?.day_name}} <br> {{datesEnd[2]?.date | amUtc | amDateFormat: 'MM-DD-YYYY' }}
			   </button>

			   <!-- <button col-4 class="orange-border" *ngIf="i == 2" >
					{{date.day_name}} <br> {{date.date}}
			   </button> -->
			
			
		</ion-row> 
		<ion-col col-12>
			<h3 class="dark-light">Pick activity {{rowText}} time</h3>
		</ion-col>
		
    <ion-row (click)="onButtonGroupClick($event)" class="activity-row" *ngIf="enableSecond">
			<button (click)="setEndHour(hour.hour)" class="orange-border time" *ngFor="let hour of datesEnd[1]?.hours">
					{{tConvert(hour.hour)}}
				</button>
		
    </ion-row>
    <ion-row (click)="onButtonGroupClick($event)" class="activity-row" *ngIf="enableThird">
			<button (click)="setEndHour(hour.hour)" class="orange-border time" *ngFor="let hour of datesEnd[2]?.hours">
					{{tConvert(hour.hour)}}
				</button>
		
		</ion-row>
	</div>

	</ion-row>
	<div style="height: 50px;"></div>

</ion-content>
<ion-footer *ngIf="enablePicker">
    <button *ngIf="enableContinue" class="full-custom-btn" ion-button clear (click)="enableTabs()">
       Continue  
	  </button>
	  <button *ngIf="!enableContinue" class="full-custom-btn" ion-button clear (click)="reservate()">
		Continue  
	   </button>
</ion-footer>
<ion-footer *ngIf="enableEndDate">

	  <button *ngIf="!enableContinue" class="full-custom-btn" ion-button clear (click)="reservate()">
		Continue  
	   </button>
</ion-footer>

<ion-footer *ngIf="enableInquiry">
		<button  class="full-custom-btn" ion-button clear (click)="request()">
		   Send request  
		  </button>
		
	</ion-footer>