page-reservation-detail {
    /*header*/
	.toolbar-background {
		background: #f68f54;
	}
	.toolbar-title{
		color: white;
		font-weight: lighter;
		text-align: center;
	}
	.title-ios{
		padding: 0 20px;
	}
	.ion-md-close{
		float: right;
	}
	.ion-ios-close{
		float: right;
		font-size: 2.4rem;
	}
	.back-btn{float: right; color: white; background: transparent;}
	.back-button-text-ios{display: none;}
	.ion-md-close{float: right;}
	.back-button-icon{color: white;}
	/*gray separate line*/
	.separate-line-container{padding: 0}
	.separate-line{
		border-bottom: 2px solid #f0f1f2;
		margin:5px 0;
	}
	/*checkmark icon*/
	.ion-md-checkmark-circle{
		color: #a3c53f;
    	float: right;
	}
	.ion-ios-checkmark-circle{
		color: #a3c53f;
    	float: right;
	}
	/*font style*/
	.dark{
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 0px;
	}
	.gray{
		color: #a8999c;
	}
	h3 , .label{
		font-weight: bold;
    	font-size: 1.7rem;
	}
	/*star ranking*/
	.star{
		color: #7d7b7b;
		margin:0;
	}
	.yellow-star{
		color: #ffc627;
	}
	.gray-star{
		color: #cccccc;
	}
	.summary{
		margin-bottom: 20px;
	}
	.booking .col{
		padding-bottom: 0
	}
	.map-reservation{
		background: url(../../assets/imgs/map-reservation.jpg);
	    background-size: contain;
	    background-repeat: no-repeat;
	    background-position: center;
	    margin: 0 -18px -16px -16px;
	    height: 141px;
	}
	ion-footer{
		background: #ed640a;
		text-align: center;
	}
	.footer-md .button-clear-md{height: 4rem}
	.footer-ios .button-ios{height: 4rem}

	ul {
		padding: 0px;
		margin-top: 0;
       
        &.rating li {
          padding: 5px 2px !important;
          background: none;
          color: #ffb400;
       
          
        }
	  }

	  span.count{
		margin-top: -17px;
	}
}
