
<ion-header>

  <ion-navbar>
    <ion-title>Book Reservation <button (click)="back()" class="back-btn"><ion-icon name="close"></ion-icon></button></ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
	<ion-row>
		<ion-col col-10>
			<h2 class="dark">Summary</h2>
		</ion-col>
		<ion-col col-8>
			<h3 class="light">{{operatorName}} ({{miles}})</h3>
		</ion-col>
		<!-- <ion-col col-4 class="right center">
			<button  (click)="presentPopover()" class="transparent"><img src="assets/imgs/location-icon.png" width="40"><br>
			<span class="orange-font">See on map</span></button>
		</ion-col> -->
		<ion-col col-12>
			
			<div class="rating-box">
				<rating [(ngModel)]="stars" 
			  readOnly="true" 
			  max="5" 
			  emptyStarIconName="star-outline" 
			  halfStarIconName="star-half" 
			  starIconName="star" 
			  nullable="false" 
			  rating
			  value="stars"></rating>
			  <span class="count" *ngIf="count_stars != null">({{count_stars}}) </span>
			  </div>
		</ion-col>
		<ion-col col-6>
			<h2 class="dark">Activity</h2>
			<h3 class="light">{{productName}}</h3>
		</ion-col>
		<ion-col col-6>
			<h2 class="dark">Quantity</h2>
			<h3 class="light">{{qty}}</h3>
		</ion-col>
		<ion-col col-6>
			<h2 class="dark">Starts <img src="assets/imgs/calendar-icon.png"  width="20" alt=""></h2>
			<h3 class="light">{{startDate |  amUtc | amDateFormat: 'MMM DD'}}, {{tConvert(startHour)}}</h3>
		</ion-col>
		<ion-col col-6 *ngIf="endDate != ''">
			<h2 class="dark">Ends <img src="assets/imgs/calendar-icon.png"  width="20" alt=""></h2>
			<h3 class="light">{{endDate | amUtc | amDateFormat: 'MMM DD'}}, {{tConvert(endHour)}}</h3>
		</ion-col>
		<ion-col col-12>
			<span class="dark">Price: </span><span class="light">$ {{price}} - {{pricePlan}}</span>
		</ion-col>
		<ion-col col-12>
				<span class="dark"># of {{type}}: </span><span class="light">{{daysQty}}</span>
		</ion-col>
	</ion-row>
	<ion-col col-12 class="separate-line-container">
		<div class="separate-line"></div>
	</ion-col>
	<ion-row> 
		<ion-col col-6 class="left">
			Subtotal <br> 7% Sales Tax <br>Gap Fee <ion-icon name="help-circle" (click)="boxDialog()"></ion-icon> <br>
			<span class="dark">Total</span>
		</ion-col>
		<ion-col col-6 class="right">
			$ {{getSubtotal()}} <br> $ {{getTax()}} <br>$ {{gap}}0 <br><span  class="overline dark">$ {{getTotal()}}</span>
		</ion-col>
		<ion-col col-12>
			Discount Code
		</ion-col>
		<ion-col col-6> 
			<ion-item class="square">
				<ion-input [(ngModel)]="coupon"></ion-input>
			</ion-item>
		</ion-col>
		<ion-col col-6 class="middle">
			<button class="transparent" (click)="getDiscount()"><span class="orange-font">APPLY </span></button>
			<button class="transparent" (click)="cancel()"><span class="orange-font"> CANCEL</span></button>
		</ion-col>
		<ion-col col-12 *ngIf="enable">
			New price with discount = {{newPrice}}

		</ion-col>
		<ion-col col-12>
			<ion-item>
		    <ion-label>Buy as gift</ion-label>
		    <ion-checkbox [(ngModel)]="pepperoni"></ion-checkbox>
		  </ion-item>
		</ion-col>
	</ion-row>
  <!-- no usar col con ion-item... solo usar los componentes
		a como aparece en la documentacion PORFAVOR!!! -->
		<form >
			<ion-item>
					<ion-label stacked>Name</ion-label>
					
					<ion-input type="text"  [(ngModel)]="name" [ngModelOptions]="{standalone: true}"></ion-input>
				</ion-item>
		
			<ion-item>
					<ion-label stacked>Email</ion-label>
					
		    	<ion-input type="email"  [(ngModel)]="email"  [ngModelOptions]="{standalone: true}"></ion-input>
		  </ion-item>
		    <ion-item>
					<ion-label stacked>Mobile</ion-label>
					
		    	<ion-input type="number" [(ngModel)]="mobile" [ngModelOptions]="{standalone: true}"></ion-input>
		  </ion-item>
		</form>
</ion-content>
<ion-footer>
    <button class="full-custom-btn" ion-button clear  (click)="checkRequireFields()">
       {{buttonLabel}}  
      </button>
</ion-footer>